body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.dashboard {
    position: fixed;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
}

.name-logo {
    margin-top: 3em;
}

.profile {
    margin-top: 1.5em;
}

.profile-content {
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

.profile-content:hover {
    background-color: #F8F9FA;
    border-radius: 5px;
}

.flname {
    flex: 1;
    order: 1;
    font-weight: 500;
    color: #343A40;
    font-size: 30px;
    margin-bottom: 0;
}

.username {
    flex: 1;
    order: 1;
    font-weight: 400;
    color: #495057;
    font-size: 17px;
}

.home-bt {
    flex: 2;
    order: 1;
    margin-top: 2em;
}

.home {
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em;
    background-color: #F8F9FA;
    padding-left: 2em;
    padding-right: 2em;
}

.post-bt {
    flex: 10;
    order: 2;
}

.post {
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em;
    padding-left: 2.4em;
    padding-right: 2.4em;
}

.post:hover {
    background-color: #F8F9FA;
}

.container {
    margin-left: 15em;
    padding: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-item {
    background-color: white;
    width: 75%;
    border: 1px normal black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.header {
    flex: 1;
    padding: 1em;
    text-align: start;
    width: 94%;
}

.username {
    margin: 0;
}

.post-image {
    flex: 3;
    text-align: center;
    padding: 0.5em 0;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.likencomment {
    flex: 1;
    padding: 0.5em;
    padding-top: 0.2em;
}

.like {
    margin-left: 1em;
}

.comment {
    margin-left: 1em;
}

.caption {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
    padding: 0.5em;
}

.username-content {
    flex: 1;
    margin: 0;
}

.caption-content {
    flex: 6;
    margin: 0;
}