body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.profile-size {
    border: 2px solid black;
}

.right-sec {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.profile-sec {
    width: 75%;
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-direction: column;
}

.profile-header {
    width: 85%;
    margin-left: 2em;
    display: flex;
    justify-content: flex-start;
}

.profile-pic-size {
    max-width: 150px;
    min-width: 150px;
    border-radius: 100%;
}

.profile-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    margin-left: 5em;
    margin-top: 1em;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.profile-username {
    font-size: 25px;
    font-weight: 300;
}

.bt {
    text-decoration: none;
    background-color: white;
    padding: .5em;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    cursor: pointer;
}

.follow-bt {
    background-color: #4285f4;
    color: white;
    opacity: 0;
    pointer-events: none;
}

.unfollow-bt {
    background-color: white;
    color: #4285f4;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #DEE2E6;
}

.block-bt {
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
    opacity: 0;
    pointer-events: none;
}

.unblock-bt {
    background-color: white;
    color: rgb(255, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
}

.edit-bt {
    opacity: 0;
    pointer-events: none;
}

.message-bt {
    opacity: 0;
    pointer-events: none;
}

.active-bt {
    opacity: 1;
    pointer-events: all;
}

.line {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    opacity: 0.5
}

.posts-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts-header-text {
    padding: .5em;
    margin-top: 0;
    border-top: 3px solid #000;
    font-weight: 500;

}

.profile-posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-post-size {
    max-width: 290px;
    min-width: 290px;
    min-height: 290px;
    max-height: 290px;
    margin: .5em;

    cursor: pointer;
}