.recomended-sec {
    height: 100%;
}

.post-sec {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
}

.stories-sec {
    width: 75%;
    height: 100%;
    margin-top: 1.5em;
    background-color: #ffffff;
    border: 1px solid #DEE2E6;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

.storie-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: .5em;
    margin-left: .5em;
}

.storie-img {
    max-width: 60px;
    border-radius: 100%;
}

.storie-text {
    font-size: 13px;
    margin-top: .5em;
}

.post-card {
    margin-top: 1.5em;
    border: 1px solid #DEE2E6;
    background-color: #fff;
    border-radius: 10px;
    padding-top: .75em;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-header {
    display: flex;
    align-items: center;
    padding-left: .75em;
}

.post-user {
    margin-left: .5em;
    font-weight: 600;
}

.post-img {
    margin-top: .6em;
    max-width: 1000px;
    max-height: 800px;
}

.post-profile-size {
    max-width: 40px;
    min-width: 40px;
    border-radius: 100%;
}

.post-footer {
    display: flex;
    flex-direction: column;
}

.post-reaction {
    padding: 1em;
    display: flex;
    align-items: center;
}

.reaction-icon {
    max-width: 26px;
    min-width: 26px;
    margin-right: 1em;
}

.likes {
    padding: 1em;
    padding-top: 0;
    font-size: 20px;
    font-weight: 500;
}

.caption {
    padding: 1em;
    padding-top: 0;
    font-size: 17px;
    max-width: 1000px;
    display: flex;
}

.post-caption {
    margin-left: .5em;
}

.stats {
    padding: 1em;
    padding-top: 0;
    font-size: 17px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.comment-count {
    color: rgb(0, 0, 0, .5);
    text-decoration: none;
    cursor: pointer;
}

.upload-time {
    color: rgb(0, 0, 0, .5);
    margin-top: .5em;
}

.field-holder {
    margin: 0;
}

.add-comment {
    display: flex;
}

.comment-input {
    border: 0;
    border-top: 1px solid #DEE2E6;
    width: 90%;
    font-size: 15px;
    padding: 1em;
}

.comment-input:focus {
    outline: none;
}

.post-bt {
    border-top: 1px solid #DEE2E6;
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
    color: rgba(0, 149, 246, 0.5);
}

.comment-input:focus+.post-bt {
    color: rgba(0, 149, 246, 1);
}