body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* *************************************** */
/*                 Inputs                  */
/* *************************************** */

.field-holder {
    position: relative;
    margin-bottom: .5em;
}

.input-box {
    border: 0;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    outline: none;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .15s ease-in-out;
}

.input-box,
.input-label {
    font-size: .9em;
    width: 100%;
    height: 30px;
    padding: .25em .3em;
    color: rgb(0, 0, 0, .6);
}

.input-box:focus+.input-label,
.input-box:valid+.input-label {
    color: rgb(0, 0, 0, .6);
    font-size: .75em;
    top: -10px;
}

.input-box:focus,
.input-box:valid {
    border: 1px solid rgb(0, 0, 0, .2);
}

/* *************************************** */
/*                 Buttons                 */
/* *************************************** */
.button {
    width: 100%;
    border: 0;
    margin-bottom: .5em;
    height: 30px;
    padding: .25em .3em;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #0095f6;
}

/* *************************************** */
/*                 Lines                   */
/* *************************************** */
.line-break {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.line-1 {
    flex-grow: 1;
}

.line-2 {
    flex-grow: 1;
}

.or {
    margin-left: .5em;
    margin-right: .5em;
    color: rgb(0, 0, 0, .6);
}

.line {
    height: .1px;
    background: rgb(0, 0, 0, .2);
}

/* *************************************** */
/*                 Google button           */
/* *************************************** */
.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    margin-top: 1.25em
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
}

.google-icon {
    position: relative;
    margin-top: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* *************************************** */
/*                 dashboard               */
/* *************************************** */

.dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    width: 16%;
    border-right: 1px solid #DEE2E6;
}

.logo-sec {
    width: 82%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2.1em;
}

.logo {
    width: 7em;
}

.btns-display {
    width: 82%;
    margin-top: 2.7em;
    display: flex;
    flex-direction: column;
}

.dash-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    padding: .5em 1em;

    cursor: pointer;
}

.btn-icon {
    margin-right: .7em;
}

.icon-size {
    max-width: 24px;
    min-width: 24px;
}

.profile-size {
    max-width: 24px;
    min-width: 24px;
    border-radius: 100%;
}

.dash-text {
    font-size: 1em;
    font-weight: 400;
    color: rgb(0, 0, 0, .75);
}

.curr {
    font-weight: 500;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.dash-btn:hover {
    background-color: rgb(0, 0, 0, .02);
    border-radius: 25px;
}

/* *************************************** */
/*                 Page Layout             */
/* *************************************** */

.empty-sec {
    flex-grow: 1.26;
    height: 100%;
    width: 25%;
}

/* *************************************** */
/*                 Popups                  */
/* *************************************** */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;

    padding: 1em;

    transition: 130ms ease-in-out;

    z-index: 5;

    opacity: 0;
    pointer-events: none;
}

/* *********** View Post Modal *********** */

.post {
    background-color: rgb(0, 0, 0, 0.5);
}

.close-bt-link {
    position: fixed;
    left: 97%;
    cursor: pointer;
}

.close-button {
    max-width: 24px;
}

.modal-post {
    width: 70%;
    height: 95%;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
}

.modal-post-img {
    width: 60%;
    height: 100%;
}

.modal-post-img-size {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.modal-comment-sec {
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.comment-sec-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .7em;
}

.post-profile {
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.username-post {
    margin-left: .5em;
    font-size: .9em;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.comment-sec-content {
    height: 80%;

    padding: 1em;
    border-top: 1px solid #DEE2E6;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.comment-item {
    width: 100%;
    display: flex;
    margin-bottom: .7em;
    display: flex;
}

.username-comment {
    font-size: .9em;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.comment-content {
    font-size: .8em;
    margin-left: 1em;
}

.comment-sec-footer {

    width: 100%;
    height: 6.5%;
    border-top: 1px solid #DEE2E6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post-comment-input {
    width: 80%;
    padding: .5em;
    border: 0;
}

.post-comment-input:focus {
    outline: 0;
}

.post-comment {
    margin-left: .2em;
    color: rgba(0, 149, 246, 0.5);
    font-weight: 600;
}

.post-comment-input:focus+.post-comment {
    color: rgba(0, 149, 246, 1);
    cursor: pointer;
}

/* ********** View Storie Modal ********** */

.storie {
    background-color: rgb(33, 33, 33);
}

.modal-storie {
    background-color: white;
    width: 25%;
    height: 95%;

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    pointer-events: none;

    border-radius: 10px;
}

.storie-content {
    width: 100%;
    height: 100%;

}

.img-storie {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.storie-header {
    position: fixed;
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.username-storie {
    color: white;
}

.storie-time {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 1em;
}

/* ********** View notif Modal *********** */

.notif {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-notif {
    width: 50%;
    height: 50%;
    background-color: #ffffff;

    border: 1px solid #DEE2E6;
    border-radius: 10px;

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    opacity: 0;
    pointer-events: none;
}

.notif-header {
    width: 100%;
    border-bottom: 1px solid #DEE2E6;
    padding: .8em;
    font-weight: 500;
}

.notif-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.notif-item {
    padding: .8em;

    display: flex;
    flex-direction: column;
}

.notif-item:hover {
    background-color: rgb(0, 0, 0, .02);
}

.notif-message {
    display: flex;
    align-items: center;
}

.notif-text {
    display: flex;
    font-size: .9em;
    margin-left: .2em;
}

.close-bt-notif {
    position: fixed;
    top: center;
    right: 0;
    margin-right: 1em;
    cursor: pointer;
}

/* ********** Add Post Modal *********** */

.add {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-add {
    width: 60%;
    height: 80%;
    background-color: #ffffff;

    border: 1px solid #DEE2E6;
    border-radius: 10px;

    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    opacity: 0;
    pointer-events: none;
}

.add-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #DEE2E6;

    padding: .8em;
}

.delete-icon {
    cursor: pointer;

    transition: 50ms ease-in-out;

    opacity: 0;
    pointer-events: none;
}

.header-text {
    font-weight: 500;
    color: rgb(0, 0, 0, .9);
}

.share-bt {
    cursor: pointer;
    transition: 50ms ease-in-out;

    color: #0095f6;
    font-weight: 500;

    opacity: 0;
    pointer-events: none;
}

.add-content {
    height: 100%;
    display: flex;
}

.add-img {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-sec {
    width: 100%;
    height: 100%;
}

.uploaded-img {
    max-width: 100%;
    max-height: 95%;
    min-width: 100%;
    min-height: 95%;

    transition: 100ms ease-in-out;

    opacity: 0;
    pointer-events: none;
}

.upload-sec-footer {
    position: fixed;

    width: 25%;
    height: 25%;

    top: 50%;
    left: 50%;

    transform: translate(-125%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.uploaded-img-input {
    width: 100%;
    height: .8em;
    opacity: 0;
    font-size: 1.8em;
}

.upload-img-bt {
    position: fixed;
    pointer-events: none;
    background-color: #0095f6;
    padding: .3em;
    color: white;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
}

.uploaded-img-input:hover+.upload-img-bt {
    background-color: rgb(0, 149, 246, .9);
}

.upload-text {
    position: fixed;
    top: 50%;
    transform: translate(0, -100%);

    font-size: 1.5em;
    font-weight: 300;
}

.add-caption {
    height: 95%;
    width: 40%;
    border-left: 1px solid #DEE2E6;

    display: flex;
    flex-direction: column;
}

.caption-header {
    display: flex;
    padding: .8em;
    align-items: center;
}

textarea {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0, .75)
}

textarea:focus {
    outline: 0;
}

.caption-input {
    padding: .8em;
    max-width: 90%;
    max-height: 40%;
    min-width: 90%;
    min-height: 40%;

    border: 0;

}

.char-counter {
    align-self: flex-end;
    margin-right: 1em;
    color: rgb(0, 0, 0, .5);
    font-size: .75em;
}

/* ********** Activate Modals ********** */

.active {
    opacity: 1;
    pointer-events: all;
}

.deactivate-bt {
    opacity: 0;
    pointer-events: all;
}

.deactivate-upload-footer {
    opacity: 0;
    pointer-events: all;
}