body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* *************************************** */
/*                 Inputs                  */
/* *************************************** */

.field-holder {
    position: relative;
    margin-bottom: .5em;
}

.input-box {
    border: 0;
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    outline: none;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
    transition: .15s ease-in-out;
}

.input-box,
.input-label {
    font-size: .9em;
    width: 100%;
    height: 30px;
    padding: .25em .3em;
    color: rgb(0, 0, 0, .6);
}

.input-box:focus+.input-label,
.input-box:valid+.input-label {
    color: rgb(0, 0, 0, .6);
    font-size: .75em;
    top: -10px;
}

.input-box:focus,
.input-box:valid {
    border: 1px solid rgb(0, 0, 0, .2);
}

/* *************************************** */
/*                 Buttons                 */
/* *************************************** */
.button {
    width: 100%;
    border: 0;
    margin-bottom: .5em;
    height: 30px;
    padding: .25em .3em;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #0095f6;
}

/* *************************************** */
/*                 Lines                   */
/* *************************************** */
.line-break {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.line-1 {
    flex-grow: 1;
}

.line-2 {
    flex-grow: 1;
}

.or {
    margin-left: .5em;
    margin-right: .5em;
    color: rgb(0, 0, 0, .6);
}

.line {
    height: .1px;
    background: rgb(0, 0, 0, .2);
}

/* *************************************** */
/*                 Google button           */
/* *************************************** */
.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    margin-top: 1.25em
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
}

.google-icon {
    position: relative;
    margin-top: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* *************************************** */
/*                 dashboard               */
/* *************************************** */

.dashboard {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    width: 16%;
    border-right: 1px solid #DEE2E6;
}

.logo-sec {
    width: 82%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2.1em;
}

.logo {
    width: 7em;
}

.btns-display {
    width: 82%;
    margin-top: 2.7em;
    display: flex;
    flex-direction: column;
}

.dash-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    padding: .5em 1em;
}

.btn-icon {
    margin-right: .7em;
}

.icon-size {
    max-width: 24px;
    min-width: 24px;
}

.profile-size {
    max-width: 24px;
    min-width: 24px;
    border-radius: 100%;
}

.dash-text {
    font-size: 1em;
    font-weight: 400;
    color: rgb(0, 0, 0, .75);
}

.curr {
    font-weight: 500;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.dash-btn:hover {
    background-color: rgb(0, 0, 0, .02);
    border-radius: 25px;
}

/* *************************************** */
/*                 Page Layout             */
/* *************************************** */

.empty-sec {
    flex-grow: 1.26;
    height: 100%;
    width: 25%;
}